@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.flex-wrapper {
    display: flex;
}

h1, h2 {
    font-family: var(--forum-font);
}
p {
    font-family: var(--inter-font);
}

/* Header */

.header {
    height: 90px;
    padding: 20px;
    background-color: #0C0C0E;
}
.flex-wrapper {
    justify-content: space-between;
}
.logo {
    flex-grow: 1;
}
.logo a {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.61px;
    text-decoration: none;
    color: #fff;
}
.header-nav {
    flex-basis: 584px;
    margin-right: 40px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-item a {
    display: block;
    width: max-content;
    text-align: center;
    text-decoration: none;
    font-family: var(--inter-font);
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}
.nav-item a:hover {
    height: 49px;
    border-bottom: #fff solid 1px;
}
.menu-btn {
    display: none;
}
.profile {
    position: relative;
    align-self: center;
    width: 28px;
    height: 28px;
}
.profile .hide {
    display: none;
}
.profile .icon_profile {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50%;
}
.profile .icon_profile img {
    border-radius: 50%;
}
.icon_profile .icon_user-profile {
    width: 100%;
    height: 100%;
    padding: 4px 0;
    font-family: var(--inter-font);
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #BB945F;
    background-color: #fff; 
    border-radius: 50%;
}
.profile .profile-dropMenu {
    position: absolute;
    right: 0;
    height: 0;
    width: 80px;
    overflow-y: hidden;
    font-family: var(--inter-font);
    transition: all 200ms ease-out;
}
.profile-dropMenu .dropMenu-header {
    padding: 5px 16px;
    overflow-y: hidden;
}
.profile-dropMenu.Auth .dropMenu-header {
    padding: 5px 5px;
}
.profile-dropMenu.Auth .dropMenu-header h3 {
    font-size: 11px;
}
.dropMenu-header h3 {
    display: none;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid #BB945F;
}
.dropMenu-body {
    padding: 15px 10px 20px 10px;
    font-size: 15px;
    line-height: 20px;
}
.profile-dropMenu.Auth .dropMenu-body {
    padding: 15px 5px 20px 4px;
}
.dropMenu_item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.dropMenu-item {
    text-align: center;
}
.dropMenu-item a {
    text-decoration: none;
    color: #000;
}
.profile-dropMenu.active {
    height: 115px;
    z-index: 1;
    background-color: #fff;
}
.profile-dropMenu.active .dropMenu-header h3 {
    display: inline-block;
}
/* Main */

.welcome {
    position: relative;
    height: 600px;
    background-image: url("../image/Welcome.jpg");
}
.welcome-blok {
    position: absolute;
    top: 220px;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: #000;
}
.welcome-header {
    font: 40px var(--forum-font);
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
}

.section-title {
    padding: 20px;
    padding-top: 0;
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
}

.about {
    height: 837px;
    padding: 20px;
    padding-bottom: 40px;
}
.border-line {
    height: 1px;
    width: 50px;
    margin: 20px auto;
    margin-bottom: 40px;
    background-color: #0C0C0E;
}
.about-text {
    font: 20px var(--inter-font);
    line-height: 40px;
}
.carousel {
    height: 626px;
    max-width: 1400px;
    overflow: hidden;
}
.carousel-left,
.carousel-right {
    display: none;
}
.image-line {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 560px;
    width: calc(100% + 67.857%);
    gap: 25px;
    transition: all 0.5s;
}
.move-left {
    animation-name: move-left;
    animation-duration: 0.6s;
}
.move-right {
    animation-name: move-right;
    animation-duration: 0.6s;
}

.image-line .img-item {
    height: 560px;
    max-width: 450px;
}
.img-item .img {
    width: 100%;
    height: 100%;
}
.image-line .img-item.onView {
    display: block;
}
.carousel-pagination {
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
    width: 78px;
    height: 26px;
}
.pagination-dot {
    position: relative;
    height: 26px;
    width: 26px;
    cursor: pointer;
}
.pagination-dot.tablet {
    display: none;
}
.pagination-dot .show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}
.pagination-dot .show.curent {
    background-color: #BB945F;
}

.favorites {
    height: 1439px;
    padding: 20px;
    padding-bottom: 40px;
}
.favorites .section-title,
.coffe-shop .section-title,
.contacts .section-title,
.library-card .section-title {
    padding-bottom: 0;
}
.seasons-form {
    height: 128px;
    padding-bottom: 40px;
}
.seasons-form .quest {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
}
.seasons-form .seasons {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.seasons input {
    margin-right: 15px;
    height: 17px;
    width: 17px;
}

.seasons input:checked + label {
    font-weight: bold;
}
.seasons label {
    font: 20px var(--inter-font)
}
.favorite-books {
    height: 1150px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
.book.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
.book.fade-out {
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
.book {
    position: relative;
    padding-right: 40px;
    margin-bottom: 40px;
    width: 590px;
    height: 555px;
}
.book.showed {
    display: block;
}
.book.hided {
    display: none;
}
.book .border-line {
    margin: 0 0 20px 0;
    width: 60px;
}
.book-review {
    height: 100%;
    padding: 15px 20px;
    border: 1px solid #000;
}
.staff-pick-teg {
    font: 20px var(--forum-font);
    line-height: 40px;
    letter-spacing: 2px;
}
.book-name {
    text-transform: uppercase;
}
.book-name, .book-author, .book-description {
    font: bold 15px var(--inter-font);
    line-height: 40px;
    letter-spacing: 2px;
}
.book-description {
    max-width: 357px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.book-buy {
    position: absolute;
    bottom: 15px;
    width: 75px;
    height: 30px;
    font: bold 10px var(--inter-font);
    letter-spacing: 1px;
    background-color: #fff;
    border-color: #0C0C0E;
    border-radius: 2px;
    color: #0C0C0E;
    cursor: pointer;
    transition: all 1000ms;
}
.book-buy:enabled:hover {
    background-color: #BB945F;
    border: none;
}
.book-buy:disabled {
    border-color: #BB945F;
    color: #BB945F;
}
.book-cover {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
}

.coffe-shop {
    height: 841px;
    padding: 20px;
    padding-bottom: 40px;
}
.coffe-shop .description {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 520px;
}
.coffe-tea {
    width: 438px;
}
.desert {
    flex-basis: 482px;
}
.menu-list-header {
    font: 40px var(--forum-font);
    line-height: 40px;
    letter-spacing: 2px;
    color: #BB945F;
}
.menu-list-header.right {
    text-align: end;
}
.drink-list,
.desert-list {
    list-style: none;
}
.menu-item {
    display: flex;
    margin-top: 40px;
    height: 40px;
}
.menu-item p {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}
.menu-item .price {
    margin-left: 57px;
    float: right;
    font-family: var(--forum-font);
}
.menu-item .price::before {
    content: '';
    display: inline-block;
    margin: 7px 0;
    margin-right: 60px;
    height: 1px;
    width: 100px;
    background-color: #BB945F;
}
.desert-list .menu-item {
    justify-content: end;
}
.coffe-tea .menu-item {
    justify-content: space-between;
}

.contacts {
    height: 575px;
    padding: 20px;
    padding-bottom: 40px;
}
.contacts-info {
    display: flex;
    justify-content: space-between;
    height: 414px;
}
.text-info {
    width: 505px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}
.text-info-header {
    font: bold 20px var(--inter-font);
    line-height: 40px;
}
.phone-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    margin: 40px 0;
}
.phone-info a {
    text-decoration: none;
    color:#000
}
.text-info .member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.location-map {
    max-width: 696px;
}
.location-map img {
    height: 100%;
    width: 100%;
}

.library-card {
    height: 614px;
    padding: 20px;
    padding-bottom: 40px;
}
.manage-card {
    display: flex;
    justify-content: space-between;
    height: 454px;
}
.find-card-header {
    font: 30px var(--inter-font);
    letter-spacing: 0.6px;
    text-align: center;
}
.library-card-form {
    margin-top: 30px;
    padding: 18px;
    padding-bottom: 28px;
    height: 386px;
    max-width: 600px;
    border: 3px solid #BB945F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.input-block {
    width: 100%;
    padding: 20px;
    padding-bottom: 25px;
    background-color: #BB945F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.input-block,
.library-input {
    font: 30px var(--forum-font);
    line-height: 50px;
    letter-spacing: 0.6px;
}
.library-input {
    display: block;
    width: 520px;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
}
.library-input::placeholder {
    color: #8E8E8E;
}
.library-input[type="number"] {
    margin-top: 25px;
}
.library-input[type="number"]::-moz-focus-inner {
    -moz-appearance: textfield;
}
.library-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.library-btn {
    display: block;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    font: bold 20px var(--inter-font);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 1s;
}
.library-btn:hover,
.acc-btn:hover {
    background-color: #BB945F;
    border: none;
}
.get-card {
    flex-basis: 456px;
    text-align: end;
}
.get-card-header {
    font: 30px var(--forum-font);
    letter-spacing: 0.6px;
}
.get-card-info {
    margin: 35px 0;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.4px;
}
.acc-btns {
    display: flex;
    justify-content: end;
}
.acc-btn {
    display: block;
    width: 75px;
    padding: 8px 13px;
    margin-left: 20px;
    font: bold 10px var(--inter-font);
    letter-spacing: 1px;
    background-color: #fff;
    cursor: pointer;
    transition: all 1s;
}

/* Footer */

.footer {
    padding: 20px;
    height: 250px;
    background-color: #0C0C0E;
}
.footer-data {
    display: flex;
    justify-content: space-between;
}
.addres-to-connect {
    flex-basis: 229px;
}
.address,
.weekdays,
.weekend {
    font: 15px var(--inter-font);
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    height: 24px;
    width: 102px;
    list-style: none;
}
.social-link {
    display: block;
    width: 24px;
    text-align: center;
}
.working-day {
    flex-basis: 149px;
}
.weekdays {
    margin-bottom: 10px;
}
.weekdays,
.weekend {
    text-align: end;
}
.footer-line {
    margin-top: 30px;
    margin-bottom: 44px;
    height: 1px;
    width: 100%;
    background-color: #fff;
}
.footer-rss {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
}
.author,
.rss {
    font: 20px var(--inter-font);
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
}
/* modals windows */

.modal-space {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(142, 142, 142, 0.5);
    z-index: 10;
}
.modal-space.open {
    display: block;
}
.register-form,
.login-form {
    display: none;
    padding: 20px 25px;
    background-color: #fff;
}
.register-form {
    height: 382px;
    width: 250px;
    margin: calc(50vh - 191px) auto;
}
.login-form {
    height: 262px;
    width: 250px;
    margin: calc(50vh - 131px) auto;
}
.register-form.open,
.login-form.open {
    display: block;
}
.register-form_header,
.login-form_header {
    position: relative;
}
.register-form_title,
.login-form_title {
    font-family: var(--forum-font);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.register-form_btn-close,
.login-form_btn-close {
    position: absolute;
    top: 0;
    right: -10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.register-form_cross,
.login-form_cross {
    display: block;
    height: 3px;
    width: 21px;
    transform: rotate(45deg);
    background-color: #0C0C0E;
}
.register-form_cross::after,
.login-form_cross::after {
    content: '';
    display: block;
    height: 3px;
    width: 21px;
    transform: rotate(90deg);
    background-color: #0C0C0E;
}
.register-form_body,
.login-form_body {
    height: 280px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: var(--inter-font);
}
.login-form_body {
    height: 160px;
}
.register-form_body label,
.login-form_body label {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.register-form_body input,
.login-form_body input {
    margin-top: 9px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    border: 1px solid #BB945F;
}
.register-form_signUp,
.login-form_logIn {
    margin-top: 10px;
    height: 30px;
    width: 75px;
    background-color: #fff;
    font-family: var(--inter-font);
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}
.register-form_footer,
.login-form_footer {
    font-family: var(--inter-font);
    font-size: 10px;
}
.register-form_footer span,
.login-form_footer span {
    margin-right: 10px;
}
.register-form_footer a,
.login-form_footer a {
    font-weight: bold;
    letter-spacing: 1px;
    color: #0C0C0E;
}


/* response */
@media (max-width: 1240px) {
    .image-line {
        gap: 10px;
    }
    
    .favorites {
        height: max-content;
    }
    .seasons-form {
        position: sticky;
        top: 2px;
        z-index: 1;
        background-color: rgba(255, 255, 250, 0.5);
    }
    .favorite-books {
        height: max-content;
        flex-direction: column;
        align-content: center;
        margin-bottom: -40px;
    }

    .contacts {
        height: 1055px;
    }
    .contacts-info {
        height: max-content;
        flex-direction: column;
    }
    .location-map {
        margin-top: 100px;
        align-self: center;
    }
}

@media (max-width: 1023px) {
    /* burger menu */
    .header-nav {
        flex-basis: content;
        margin-right: 0;
        margin-left: 40px;
        order: 1;
    }
    .nav-list {
        position: absolute;
        clear: right;
        right: 0;
        height: 0;
        width: 332px;
        flex-direction: column;
        overflow-y: hidden;
        z-index: 2;
        background-color: #0C0C0E;
        transition: all 200ms ease-out;
    }
    .nav-item a {
        margin: 0 auto;
    }
    .menu-btn {
        display: block;
        width: 45px;
        height: 50px;
    }
    .menu-btn.show-menu ~ .nav-list {
        display: flex;
        height: 520px;
        padding: 50px 106px 100px 106px;
    }
    .menu-btn.show-menu .nav-item {
        display: block;
    }
    .menu-btn .burger-icon {
        position: relative;
        transform: translateY(24px);
        width: 45px;
        height: 2px;
    }
    .menu-btn .burger-icon,
    .menu-btn .burger-icon::before,
    .menu-btn .burger-icon::after {
        display: block;
        background-color: #fff;
    }
    .menu-btn .burger-icon::before,
    .menu-btn .burger-icon::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 200ms ease-out;
    }
    .menu-btn .burger-icon::before {
        top: -10px;
    }
    .menu-btn .burger-icon::after {
        top: 10px;
    }
    .menu-btn.show-menu .burger-icon {
        background-color: transparent;
    }
    .menu-btn.show-menu .burger-icon::before {
        top: 0;
        transform: rotate(45deg);
    }
    .menu-btn.show-menu .burger-icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
    /* end burger menu */

    .library-card {
        height: 857px;
    }
    .manage-card {
        height: max-content;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .get-card {
        max-width: 600px;
        text-align: center;
    }
    .get-card-info {
        margin: 40px 0;
    }
    .acc-btns {
        justify-content: center;
        margin-left: -20px;
    }
}

@media (max-width: 985px) {
    .welcome {
        background: no-repeat url('../image/Welcome-tablet.png');
        background-size: cover;
    }

    .about {
        height: 862px;
    }
    .carousel {
        display: flex;
        max-width: 568px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .view-fild {
        width: 450px;
        overflow-x: hidden;
    }
    .image-line {
        width: max-content;
    }
    .carousel-left,
    .carousel-right {
        display: block;
        align-self: center;
        margin-top: 45px;
        cursor: pointer;
    }
    .carousel-pagination {
        width: calc(78px + 52px);
        margin-top: 20px;
    }
    .pagination-dot.tablet {
        display: block;
    }

    .coffe-shop {
        height: 1481px;
    }
    .menu-list {
        flex-direction: column;
        gap: 40px
    }
}

@media (max-width: 750px) {
    .seasons-form .seasons {
        width: 600px;
    }
}

@keyframes move-left {
    from {left: 450px;}
    to {left: 0px;}
}
@keyframes move-right {
    from {right: 450px;}
    to {right: 0px;}
}